*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    color: #222;
    background-color: #000;
}


footer {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}



/** Utility classes. **/

.hidden {
    display: none !important;
}



/** Button styles. **/

.button {
    padding: 0.4em 0.8em;
    border: 3px solid #f1b23f;
    font-family: "Quicksand", sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    background-color: #f1b23f;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}

.button:hover,
.button:focus {
    background-color: #faa305;
    border-color: #faa305;
}

.button[disabled] {
    color: transparent;
    position: relative;
}

.button[disabled]::before {
    content: "";
    width: 0.8em;
    height: 0.8em;
    position: absolute;
    top: calc(50% - 0.4em);
    left: calc(50% - 0.4em);
    border: 5px solid #000;
    border-top-color: transparent;
    border-radius: 50%;
    animation: rotate 500ms linear infinite;
    will-change: transform;
}


.button--mini {
    font-size: 20px;
    border-radius: 5px;
}



/** Form styles. **/

.form {
    font-size: 0;
    text-align: center;
}


.form__title {
    margin-bottom: 50px;
    font-size: 72px;
    font-weight: normal;
    text-align: center;
    color: #f1b23f;
}


.form__input {
    padding: 20px 40px;
    border: 3px solid #f1b23f;
    margin-right: 10px;
    font-family: "Quicksand", sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #f1b23f;
    background-color: transparent;
    border-radius: 10px;
    outline: none;
}



/** Keyframe animations. **/

@keyframes rotate {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
}



/** Font faces. **/

@font-face {
    font-family: "Quicksand";
    src: url("../fonts/quicksand/regular.woff2") format("woff2");
    font-weight: normal;
}


@font-face {
    font-family: "Quicksand";
    src: url("../fonts/quicksand/bold.woff2") format("woff2");
    font-weight: bold;
}



/** Home page overrides. **/

.page--home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.jedi-name {
    font-weight: bold;
    color: #faa305;
}


.subscribe-button {
    margin-right: 10px;
}



/** Offline page overrides. **/

.offline {
    padding-top: 480px;
    font-size: 32px;
    text-align: center;
    color: #f1b23f;
    background: url("../images/wifi-offline.png") center 320px no-repeat;
    background-size: auto 30%;
}
