@font-face {
    font-family: "Quicksand";
    src: url("../fonts/quicksand/regular.woff2") format("woff2");
    font-weight: normal;
}


@font-face {
    font-family: "Quicksand";
    src: url("../fonts/quicksand/bold.woff2") format("woff2");
    font-weight: bold;
}
