body {
    padding: 50px 0;
}


.transmissions {
    width: 75vw;
    margin: 0 auto;
    list-style: none;
}


.transmission {
    display: flex;
}

.transmission:not(:last-child) {
    margin-bottom: 5vh;
}


.jedi {
    margin-top: 18px;
    margin-right: 20px;
    font-size: 32px;
    font-weight: bold;
    color: #faa305;
    white-space: nowrap;
}

.jedi::after {
    content: ":";
    color: #f1b23f;
}


.message {
    font-size: 64px;
    color: #f1b23f;
}
