{% load staticfiles %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Star Wars PWA{% endblock %}</title>

        <link rel="manifest" href="/manifest.json">
        <link href='https://fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'starwarspwa/stylesheets/base.css' %}">
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        {% block content %}{% endblock %}

        <script src="{% static 'starwarspwa/javascripts/utils.js' %}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
