<!doctype html>
<html>
    <head>
        <title>Jedi Beacon Transceiver</title>

        <meta charset="utf-8">
        <meta name="theme-color" content="#532814">

        <link rel="manifest" href="/static/starwarspwa/manifest.json">
        <link rel="stylesheet" href="/static/starwarspwa/stylesheets/starwars.css">
    </head>

    <body class="page--home">
        <form action="#" class="form jedi-form">
            <h1 class="form__title">What is your Jedi name?</h1>
            <input type="text" name="name" class="form__input" spellcheck="false" maxlength="25" autofocus>
            <button class="button">Save</button>
        </form>

        <form action="/transmit" class="form transmit-form hidden">
            <h1 class="form__title">Hello, Jedi <span class="jedi-name"></span></h1>
            <input type="text" name="message" class="form__input" spellcheck="false" autofocus>
            <button class="button">Transmit</button>
        </form>

        <footer>
            <button class="button button--mini subscription-button" data-action="subscribe">Subscribe To Push Notifications</button>
            <a href="/transmissions/" class="button button--mini">View Transmissions</a>
        </footer>

        <script src="/static/starwarspwa/javascripts/jquery.js"></script>
        <script src="/static/starwarspwa/javascripts/idb-helpers.js"></script>
        <script src="/static/starwarspwa/javascripts/starwars.js"></script>
    </body>
</html>
