{% extends 'starwarspwa/base.html' %}


{% load staticfiles %}

{% block title %}Jedi Beacon Transceiver{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'starwarspwa/stylesheets/home.css' %}">
{% endblock %}


{% block content %}
    <form action="#" class="jedi-form">
        <h1>What is your Jedi name?</h1>
        <input type="text" name="name" class="jedi-input" spellcheck="false" maxlength="25" autofocus>
        <button class="button">Save</button>
    </form>

    <form action="/transmit" class="transmit-form hidden">
        <h1>Hello, Jedi <span class="jedi-name"></span></h1>
        <input type="text" name="message" class="transmit-message" spellcheck="false" autofocus>
        <button class="button">Transmit</button>
    </form>

    <footer>
        <button class="subscribe button button--mini" data-action="subscribe">Subscribe</button>
        <a href="{% url 'transmissions-page' %}" class="button button--mini">View Transmissions</a>
    </footer>
{% endblock %}


{% block javascripts %}
    <script src="{% static 'starwarspwa/javascripts/main.js' %}"></script>
{% endblock %}
