<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>You are offline!</title>

        <link rel="manifest" href="/manifest.json">
        <link rel="stylesheet" href="/static/starwarspwa/stylesheets/base.css">
    </head>

    <body>
        <p class="offline">You are currently offline.</p>

        <footer>
            <button class="subscribe button button--mini" onclick="history.back()">Back</button>
        </footer>

        <script src="/static/starwarspwa/javascripts/utils.js"></script>
        <script src="/static/starwarspwa/javascripts/main.js"></script>
    </body>
</html>
