<!doctype html>
<html>
    <head>
        <title>You are offline!</title>

        <meta charset="utf-8">
        <meta name="theme-color" content="#532814">

        <link rel="manifest" href="/static/starwarspwa/manifest.json">
        <link rel="stylesheet" href="/static/starwarspwa/stylesheets/starwars.css">
    </head>

    <body>
        <p class="offline">You are currently offline.</p>

        <footer>
            <button class="subscribe button button--mini" onclick="history.back()">Back</button>
        </footer>

        <script src="/static/starwarspwa/javascripts/jquery.js"></script>
        <script src="/static/starwarspwa/javascripts/starwars.js"></script>
        <script src="/static/starwarspwa/javascripts/sw-register.js"></script>
    </body>
</html>
