{% extends 'starwarspwa/base.html' %}


{% load staticfiles %}

{% block title %}Jedi Beacon Transmissions{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'starwarspwa/stylesheets/transmissions.css' %}">
{% endblock %}


{% block content %}
    <ul class="transmissions">
        {% for transmission in transmissions %}
            <li class="transmission">
                <span class="jedi">{{ transmission.jedi }}</span>
                <p class="message">{{ transmission.message }}</p>
            </li>
        {% endfor %}
    </ul>

    <footer>
        <a href="{% url 'home-page' %}" class="button button--mini">Transmit Message</a>
    </footer>
{% endblock %}
